<div class="modal fade" id="deleteMatrixModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Matricos trynimas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Ar tikrai norite ištrinti šią matricą?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
				<button type="button" class="btn btn-danger" onClick="DeleteMatrix()">Trinti</button>
			</div>
		</div>
	</div>
</div>