<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Altas CNIT</title>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" >

		<script src="js/dist/jquery-3.7.1.min.js"></script>
		<script src="js/dist/bootstrap.bundle.min.js"></script>
		<script src="js/dist/papaparse.min.js"></script>
		<script src="js/controllers/ApiController.js"></script>
	</head>
	<body>
		<%- include('generatorPage/page') %>
		<%- include('typePage/page') %>
		<%- include('matrixPage/page') %>
		<%- include('schemaPage/page') %>
	</body>
	<footer>
		<script src="js/Main.js"></script>
	</footer>
</html>