<div class="modal fade" id="createSchemaFieldsModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Schemos laukelio kūrimas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="schemaFieldForm" novalidate>
					<div class="row">
						<div class="col">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="schemaFieldName" placeholder="Laukelio pavadinimas" required >
								<label for="schemaFieldName">Laukelio pavadinimas</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="schemaFieldPlaceholder" placeholder="Žymuo" required >
								<label for="schemaFieldPlaceholder">Žymuo</label>
							</div>
						</div> 
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
				<button type="button" class="btn btn-primary" onclick="CreateSchemaField()">Kurti</button>
			</div>
		</div>
	</div>
</div>