<div class="modal fade" id="cocGenerateModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">CoC failo generavimas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Atšaukti"></button>
			</div>
			<div class="modal-body" id="cocModalBody">
				<div class="row">
					<div class="col-3">
						<label>Pasirinkite tipą:</label>
					</div>
					<div class="col">
						<select class="form-select" style="margin-bottom: 16px;" id="cocTypeSelect"></select>
					</div>
				</div>
				<div class="otherCoCContent" style="display: none;">
					<div class="row">
						<div class="col">
							<label for="basic-url" class="form-label">Papildomi reikalaujami laukeliai:</label>
							<div id="cocCustomFieldHolder">
								<div class="input-group mb-1">
									<span class="input-group-text" id="basic-addon3">Vardas Pavardė</span>
									<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								</div>
								<div class="input-group mb-1">
									<span class="input-group-text" id="basic-addon3">VIN kodas</span>
									<input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon3">
								</div>
							</div>
						</div>
					</div>
					<label style="margin-top: 10px;" for="basic-url" class="form-label">Variantas:</label>
					<div style="width: 100%; overflow-x: auto; padding-bottom: 6px;">
						<div id="cocVariantSelects"></div>
					</div>
					<label style="margin-top: 10px;" for="basic-url" class="form-label">Versija:</label>
					<div style="width: 100%; overflow-x: auto; padding-bottom: 6px;">
						<div id="cocVersionSelects"></div>
					</div>
					<button type="button" class="btn btn-info" onClick="CollectAndShowPlaceholderData()" style="margin: 10px 0px;">Rodyti duomenis</button>
					<button id="dataCollapseButton" style="display: none;" class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#dataCollapse" aria-expanded="false" aria-controls="dataCollapse">
						Rodyti duomenis
					</button>
					<div class="collapse" id="dataCollapse">
						<div class="card card-body">
							<table class="table table-striped table-hover">
								<thead class="table-dark">
									<tr>
										<th scope="col">Žymuo</th>
										<th scope="col">Žymuo šablone</th>
										<th scope="col">Duomenys</th>
									</tr>
								</thead>
								<tbody id="placeholderDataPreview">
									<tr>
										<td>Čia</td>
										<td>${bus}</td>
										<td>duomenys</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="text-center cocModalLoading" style="margin: 16px">
					<div class="spinner-border text-secondary" role="status"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div id="CoCFileWarning">Klaida: Tipas neturi priskirto CoC šablono failo!</div>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
				<button type="button" class="btn btn-primary" id="cocGenerateButton" onclick="GenerateCoC()">Generuoti</button>
			</div>
		</div>
	</div>
</div>