<div class="modal fade" id="cnitGenerateModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">CNIT failo generavimas</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Atšaukti"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-3">
						<label>Pasirinkite tipą:</label>
					</div>
					<div class="col">
						<select class="form-select" style="margin-bottom: 16px;" id="cnitTypeSelect"></select>
					</div>
				</div>
				<div class="row">
					<p>CNIT šablono žymenų formatavimo pavyzdžiai:</p>
					<ul style="margin-left: 60px;">
						<li>Žymuo: <code>${table:altas.<strong style="border: blue solid 1px; padding: 3px;">zymensPavadinimas</strong>}</code></li>
						<li>Modelis: <code>${table:altas.<strong style="border: blue solid 1px; padding: 3px;">modelis</strong>}</code></li>
						<li>Data: <code>${table:altas.<strong style="border: blue solid 1px; padding: 3px;">data</strong>}</code></li>
					</ul>
					<p>Atkreipkite dėmesį, kad žymuo rašomas tarp <code>${table:altas.</code> ir <code>}</code> simbolių.</p>
				</div>
			</div>
			<div class="modal-footer">
				<div id="CNITFileWarning">Klaida: Tipas neturi priskirto CNIT šablono failo!</div>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
				<button type="button" class="btn btn-primary" id="cnitGenerateButton" onclick="GenerateCNIT()">
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="cnitSpinner" style="display: none;"></span>
					<div id="cnitButtonText" style="display: inline-block;">Generuoti</div>
				</button>
			</div>
		</div>
	</div>
</div>